@model WineScheduleWebApp.Models.Grape

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grape</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayName("Created by")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastModifiedDate)
        </dd>
        <dt>
            @Html.DisplayName("Assigned wines")
        </dt>
        <dd>
            @foreach(var wineGrape in ViewBag.WineGrapes)
            {
               <div>@wineGrape.Wine.Name</div>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
