@model WineScheduleWebApp.Models.WineViewModels.CreateWineViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Wine</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Wine.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Wine.Name" class="form-control" />
                <span asp-validation-for="Wine.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Appellation", null, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select asp-for="Wine.AppellationId" class="form-control" asp-items="ViewBag.Appellations"></select>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Region", null, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select asp-for="Wine.RegionId" class="form-control" asp-items="ViewBag.Regions"></select>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Category", null, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select asp-for="Wine.CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Dryness", null, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select asp-for="Wine.DrynessId" class="form-control" asp-items="ViewBag.Drynesses"></select>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Grapes", null, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @for (var i = 0; i < Model.IdCheckBoxes.Count(); i++)
                {
                    <div>
                        @Html.CheckBoxFor(viewModel => viewModel.IdCheckBoxes[i].IsSelected)
                        <span>@Model.IdCheckBoxes[i].Name</span>
                        @Html.HiddenFor(viewModel => viewModel.IdCheckBoxes[i].Id)
                        @Html.HiddenFor(viewModel => viewModel.IdCheckBoxes[i].Name)
                    </div>
                }
                @*<select asp="QuestionId" class="form-control" asp-items="@(new SelectList(@ViewBag.Questions, " QuestionId", "Content" ))"></select>*@
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Wine.Year" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Wine.Year" class="form-control" />
                <span asp-validation-for="Wine.Year" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Wine.Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Wine.Price" class="form-control" />
                <span asp-validation-for="Wine.Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Wine.Rating" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Wine.Rating" class="form-control" />
                <span asp-validation-for="Wine.Rating" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Wine.Stock" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Wine.Stock" class="form-control" />
                <span asp-validation-for="Wine.Stock" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Wine.Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Wine.Description" class="form-control" />
                <span asp-validation-for="Wine.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
